nav.nav
    .snb-container
        .snb
            ul 
                li
                    a(href="https://www.facebook.com/dreamtheater" target="_black")
                        i.fab.fa-facebook-square
                li
                    a(href="https://twitter.com/dreamtheaternet" target="_black")
                        i.fab.fa-twitter
                li
                    a(href="https://instagram.com/dreamtheaterofficial" target="_black")
                        i.fab.fa-instagram
                li
                    a(href="https://youtube.com/dreamtheater" target="_black")
                        i.fab.fa-youtube
                li
                    a(href="https://itunes.apple.com/gb/artist/dream-theater/id730091" target="_black")
                        i.fab.fa-apple