doctype html
html
    head
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
        title Dream Theater
    body
        include ../partials/gnb
        include ../partials/snb
        main
            block content
        